@use 'colors';
@use 'menu';

html {
  background-color: colors.$color-primary-1;
}
body {
  margin: 0;
  line-height: 1.5;
  font-size: 1.1rem;
}
.daylight {
  background-color: colors.$color-primary-2;
}

.avatar {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 6s ease-in-out infinite;
  &__image {
    width: 80%;
    @media screen and (min-width: 490px) {
      width: 300px;
    }
  }
}
.is-active {
}

.is-active a::after {
  bottom: 0;
  content: '';
  display: block;
  height: 1px;
  left: 50%;
  background: colors.$color-buttons;
}
.image-container img {
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.main {
  &__page {
    display: none;
  }
  &__page.is-active {
    display: block;
    h2 {
      position: absolute;
      top: 10%;
    }
    img {
      position: absolute;
      top: 0;
      z-index: -1;
      margin-top: 0;

      background-size: cover;
    }
  }
}

.timer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__time input {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0;

    @media screen and (min-width: 490px) {
      font-size: 2rem;
    }
  }
  &__clear {
    display: flex;
    justify-content: center;
  }
  &__time,
  &__buttons,
  &__clear {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 490px) {
      display: flex;
      justify-content: center;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: 490px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and (min-width: 980px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__btn,
  &__cleartime,
  &__stop {
    background-color: transparent;
    border: 2px solid colors.$color-buttons;
    border-radius: 0.3rem;
    color: colors.$color-buttons;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1;
    margin: 0.8rem;
    padding: 0.9rem 1.3rem;
    outline: 0;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    @media screen and (min-width: 490px) {
      padding: 1rem 2.6em;
    }
  }
  &__btn:hover,
  &__cleartime:hover,
  &__stop:hover {
    box-shadow: 0 0 40px 40px colors.$color-buttons inset;
    color: colors.$color-white;
    outline: 0;
  }
  &__countdown {
    background-color: transparent;
    outline: none;
    border: 2px solid colors.$color-buttons;
    border-radius: 0.3rem;
    color: colors.$color-buttons;
    font-weight: 400;
    line-height: 1;
    margin: 15px;
  }
  &__settime {
    h4 {
      color: colors.$color-white;
      text-align: center;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

.toggle {
  &__btn {
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 50px;
    height: 24px;
    border-radius: 40px;
    @media screen and (min-width: 490px) {
      right: 5%;
      bottom: 5%;
    }
    span {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      overflow: hidden;
      opacity: 1;
      background-color: colors.$color-white;
      box-shadow: 0px 1px 15px colors.$color-primary-2;
      border-radius: 40px;
      transition: 0.2s ease background-color, 0.2s ease opacity;
    }
    span:before,
    span:after {
      content: '';
      position: absolute;
      top: 1px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      transition: 0.5s ease transform, 0.2s ease background-color;
    }
    span:before {
      background-color: colors.$color-white;
      transform: translate(-22px, 0px);
      z-index: 1;
    }
    span:after {
      background-color: colors.$color-black;
      transform: translate(2px, 0px);
      z-index: 0;
    }
    input[type='checkbox']:checked + span {
      background-color: colors.$color-primary-1;
    }
    input[type='checkbox']:active + span {
      opacity: 0.5;
    }
    input[type='checkbox']:checked + span:after {
      background-color: colors.$color-white;
      transform: translate(20px, 0px);
    }
  }
}
input[type='checkbox'] {
  width: 100%;
  height: 100%;
  position: relative;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  25% {
    transform: translatex(5px);
  }
  50% {
    transform: translatey(-10px);
  }
  75% {
    transform: translatex(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
